.container-fluid {
    background-color: #333 !important;
}

.navbar {
    background-color: #333 !important;
    border-bottom: white  2px solid !important;
}

.btn-tertiary {
    color: white !important;
    border: solid 1px white !important;
    margin-right: 20px;
}

.btn-tertiary:hover {
    background-color: white !important;
    color: black !important;
}

body {
    background-color: #CD853F !important;
}

h3 {
    border-bottom: 2px solid black !important;
}

.list {
    background-color: #333 !important;
    color: white !important;
    border: solid 1px black !important;
}

.table-responsive {
    border-radius: 10px !important;
}
